/202408-monthly-series_TABLE_format.xlsx
/6-Month Increase in Employment Rate by Sex.png
/Difference in Monthly Increase.png
/Employment Rate Trend by Sex.png
/analyze.do
/analyze.py
/italian_unemployment.xlsx